*{
    box-sizing: border-box;
}
body{
    margin:0px;
}


.video-container{
    background-color: black;
    width:100vw;
    height: 100vh;
    /* display: flex;
    align-items: center; */
}
.video{
    height: 100%;
    width:100%;
}


.round-btn{
    z-index: 2;
    height: 5rem;
    position: fixed;
    width: 5rem;
    top: 30%;
    right: 26px;
    border-radius: 50%;
}
.click{
    top: 45%;  
}

.filter-container{
    z-index: 1;
    position: absolute;
    top: 33vh;
    left: 2rem;
    height: 13rem;
    width: 3rem;
    border: 2px solid red;
}
.bg-color{
    border: 1px solid green;
    height: 25%;
    width: 100%;
}

.red{
    background-color:red;
}
.orange{
    background-color:orange;
}
.purple{
    background-color:purple;
}
.green{
    background-color:green;
}
.none{
    background-color: transparent;
}
.filter-overlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: red;
    
}

.record-timings{
    color: deepskyblue;
    padding-top: 5px;
    display: none;
    height: 2rem;
    width: 5rem;
    border: 1px solid red;
    position: fixed;
    top: 33rem;
    left: 1rem;
    z-index: 1;
    text-align: center;
}
