*{
    box-sizing: border-box;
}

/* think why */
/* to equal body size and view port size */
body{
    margin: 0px;
    /* border: 1px solid red; */
}

/* yaha video container ki height width are 100vh and 100vw and video has it's own height width according to camera so
we use display flex so that it shows center in video-container */
.video-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}
.video {



}

.record {
    position: fixed;
    top: 15rem;
    right: 2rem;

    height: 5rem;
    width: 5rem;
    border-radius: 5rem;

}
.click {
    position: fixed;
    top: 22rem;
    right: 2rem;

    height: 5rem;
    width: 5rem;
    border-radius: 5rem;

}
